@import "tailwindcss";
@import "@heroui/styles";

:root {
    color-scheme: dark;

    --text-50: 13.68% 0.033 262.20;
    --text-100: 18.43% 0.058 266.75;
    --text-200: 26.73% 0.105 266.39;
    --text-300: 34.71% 0.146 265.74;
    --text-400: 42.10% 0.185 265.61;
    --text-500: 49.42% 0.222 265.24;
    --text-600: 58.38% 0.177 268.04;
    --text-700: 68.62% 0.129 269.88;
    --text-800: 79.00% 0.084 271.53;
    --text-900: 89.63% 0.040 271.44;
    --text-950: 94.75% 0.021 274.04;

    --background-50: 15.91% 0.000 89.88;
    --background-100: 21.78% 0.000 89.88;
    --background-200: 32.11% 0.000 89.88;
    --background-300: 42.02% 0.000 89.88;
    --background-400: 51.03% 0.000 89.88;
    --background-500: 59.99% 0.000 89.88;
    --background-600: 68.30% 0.000 89.88;
    --background-700: 76.68% 0.000 89.88;
    --background-800: 84.52% 0.000 89.88;
    --background-900: 92.49% 0.000 89.88;
    --background-950: 96.12% 0.000 89.88;

    --primary-50: 13.32% 0.035 265.41;
    --primary-100: 18.17% 0.060 267.91;
    --primary-200: 26.57% 0.108 266.39;
    --primary-300: 34.18% 0.151 266.21;
    --primary-400: 41.61% 0.190 265.92;
    --primary-500: 48.80% 0.228 265.60;
    --primary-600: 57.81% 0.182 268.68;
    --primary-700: 68.00% 0.134 271.05;
    --primary-800: 78.77% 0.086 271.87;
    --primary-900: 89.44% 0.041 273.33;
    --primary-950: 94.75% 0.021 274.04;

    --secondary-50: 13.79% 0.028 269.12;
    --secondary-100: 18.65% 0.050 268.95;
    --secondary-200: 27.14% 0.088 268.35;
    --secondary-300: 35.08% 0.124 267.62;
    --secondary-400: 42.57% 0.155 267.53;
    --secondary-500: 49.79% 0.187 267.23;
    --secondary-600: 59.45% 0.146 269.88;
    --secondary-700: 69.59% 0.107 271.39;
    --secondary-800: 79.82% 0.068 272.72;
    --secondary-900: 89.96% 0.034 272.77;
    --secondary-950: 95.03% 0.016 274.82;

    --accent-50: 20.74% 0.047 115.45;
    --accent-100: 30.57% 0.070 115.59;
    --accent-200: 48.48% 0.111 116.26;
    --accent-300: 64.84% 0.149 116.51;
    --accent-400: 80.21% 0.184 116.65;
    --accent-500: 94.87% 0.218 116.74;
    --accent-600: 95.36% 0.206 115.54;
    --accent-700: 96.07% 0.175 114.44;
    --accent-800: 97.06% 0.126 113.33;
    --accent-900: 98.37% 0.066 112.16;
    --accent-950: 99.09% 0.034 112.36;
}

.light {
    color-scheme: light;

    --text-50: 94.75% 0.021 274.04;
    --text-100: 89.63% 0.040 271.44;
    --text-200: 79.00% 0.084 271.53;
    --text-300: 68.62% 0.129 269.88;
    --text-400: 58.38% 0.177 268.04;
    --text-500: 49.42% 0.222 265.24;
    --text-600: 42.10% 0.185 265.61;
    --text-700: 34.71% 0.146 265.74;
    --text-800: 26.73% 0.105 266.39;
    --text-900: 18.43% 0.058 266.75;
    --text-950: 13.68% 0.033 262.20;

    --background-50: 96.12% 0.000 89.88;
    --background-100: 92.49% 0.000 89.88;
    --background-200: 84.52% 0.000 89.88;
    --background-300: 76.68% 0.000 89.88;
    --background-400: 68.30% 0.000 89.88;
    --background-500: 59.99% 0.000 89.88;
    --background-600: 51.03% 0.000 89.88;
    --background-700: 42.02% 0.000 89.88;
    --background-800: 32.11% 0.000 89.88;
    --background-900: 21.78% 0.000 89.88;
    --background-950: 15.91% 0.000 89.88;

    --primary-50: 94.75% 0.021 274.04;
    --primary-100: 89.44% 0.041 273.33;
    --primary-200: 78.77% 0.086 271.87;
    --primary-300: 68.00% 0.134 271.05;
    --primary-400: 57.81% 0.182 268.68;
    --primary-500: 48.80% 0.228 265.60;
    --primary-600: 41.61% 0.190 265.92;
    --primary-700: 34.18% 0.151 266.21;
    --primary-800: 26.57% 0.108 266.39;
    --primary-900: 18.17% 0.060 267.91;
    --primary-950: 13.32% 0.035 265.41;

    --secondary-50: 95.03% 0.016 274.82;
    --secondary-100: 89.96% 0.034 272.77;
    --secondary-200: 79.82% 0.068 272.72;
    --secondary-300: 69.59% 0.107 271.39;
    --secondary-400: 59.45% 0.146 269.88;
    --secondary-500: 49.79% 0.187 267.23;
    --secondary-600: 42.57% 0.155 267.53;
    --secondary-700: 35.08% 0.124 267.62;
    --secondary-800: 27.14% 0.088 268.35;
    --secondary-900: 18.65% 0.050 268.95;
    --secondary-950: 13.79% 0.028 269.12;

    --accent-50: 99.09% 0.034 112.36;
    --accent-100: 98.37% 0.066 112.16;
    --accent-200: 97.06% 0.126 113.33;
    --accent-300: 96.07% 0.175 114.44;
    --accent-400: 95.36% 0.206 115.54;
    --accent-500: 94.87% 0.218 116.74;
    --accent-600: 80.21% 0.184 116.65;
    --accent-700: 64.84% 0.149 116.51;
    --accent-800: 48.48% 0.111 116.26;
    --accent-900: 30.57% 0.070 115.59;
    --accent-950: 20.74% 0.047 115.45;
}

@theme inline {
    --color-text-50: oklch(var(--text-50));
    --color-text-100: oklch(var(--text-100));
    --color-text-200: oklch(var(--text-200));
    --color-text-300: oklch(var(--text-300));
    --color-text-400: oklch(var(--text-400));
    --color-text-500: oklch(var(--text-500));
    --color-text-600: oklch(var(--text-600));
    --color-text-700: oklch(var(--text-700));
    --color-text-800: oklch(var(--text-800));
    --color-text-900: oklch(var(--text-900));
    --color-text-950: oklch(var(--text-950));

    --color-background-50: oklch(var(--background-50));
    --color-background-100: oklch(var(--background-100));
    --color-background-200: oklch(var(--background-200));
    --color-background-300: oklch(var(--background-300));
    --color-background-400: oklch(var(--background-400));
    --color-background-500: oklch(var(--background-500));
    --color-background-600: oklch(var(--background-600));
    --color-background-700: oklch(var(--background-700));
    --color-background-800: oklch(var(--background-800));
    --color-background-900: oklch(var(--background-900));
    --color-background-950: oklch(var(--background-950));

    --color-primary-50: oklch(var(--primary-50));
    --color-primary-100: oklch(var(--primary-100));
    --color-primary-200: oklch(var(--primary-200));
    --color-primary-300: oklch(var(--primary-300));
    --color-primary-400: oklch(var(--primary-400));
    --color-primary-500: oklch(var(--primary-500));
    --color-primary-600: oklch(var(--primary-600));
    --color-primary-700: oklch(var(--primary-700));
    --color-primary-800: oklch(var(--primary-800));
    --color-primary-900: oklch(var(--primary-900));
    --color-primary-950: oklch(var(--primary-950));

    --color-secondary-50: oklch(var(--secondary-50));
    --color-secondary-100: oklch(var(--secondary-100));
    --color-secondary-200: oklch(var(--secondary-200));
    --color-secondary-300: oklch(var(--secondary-300));
    --color-secondary-400: oklch(var(--secondary-400));
    --color-secondary-500: oklch(var(--secondary-500));
    --color-secondary-600: oklch(var(--secondary-600));
    --color-secondary-700: oklch(var(--secondary-700));
    --color-secondary-800: oklch(var(--secondary-800));
    --color-secondary-900: oklch(var(--secondary-900));
    --color-secondary-950: oklch(var(--secondary-950));

    --color-accent-50: oklch(var(--accent-50));
    --color-accent-100: oklch(var(--accent-100));
    --color-accent-200: oklch(var(--accent-200));
    --color-accent-300: oklch(var(--accent-300));
    --color-accent-400: oklch(var(--accent-400));
    --color-accent-500: oklch(var(--accent-500));
    --color-accent-600: oklch(var(--accent-600));
    --color-accent-700: oklch(var(--accent-700));
    --color-accent-800: oklch(var(--accent-800));
    --color-accent-900: oklch(var(--accent-900));
    --color-accent-950: oklch(var(--accent-950));

    --font-sans: var(--font-opensans), ui-sans-serif, system-ui, sans-serif;
    --font-roboto: var(--font-roboto), ui-sans-serif, system-ui, sans-serif;
}

body {
    background-color: oklch(var(--background-50));
    color: oklch(var(--text-950));

    font-family: var(--font-sans);

    transition: background-color 0.3s, color 0.3s;
}
