@import "tailwindcss";

:root,
.light,
.dark {
    color-scheme: light dark;

    --bg-dark: light-dark(oklch(0.92 0.025 264), oklch(0.1 0.025 264));
    --bg: light-dark(oklch(0.96 0.025 264), oklch(0.15 0.025 264));
    --bg-light: light-dark(oklch(1 0.025 264), oklch(0.2 0.025 264));

    --text: light-dark(oklch(0.15 0.05 264), oklch(0.96 0.05 264));
    --text-muted: light-dark(oklch(0.4 0.05 264), oklch(0.76 0.05 264));

    --highlight: light-dark(oklch(1 0.05 264), oklch(0.5 0.05 264));
    --border: light-dark(oklch(0.85 0.05 264), oklch(0.3 0.05 264));
    --border-muted: light-dark(oklch(0.7 0.05 264), oklch(0.3 0.05 264));

    --primary: light-dark(oklch(0.4 0.1 264), oklch(0.76 0.1 264));
    --primary-fg: light-dark(oklch(0.98 0 0), oklch(0.1 0.1 264));

    --danger: light-dark(oklch(0.6 0.15 30), oklch(0.7 0.15 30));
    --success: light-dark(oklch(0.6 0.15 160), oklch(0.7 0.15 160));

    --background: var(--bg);
    --foreground: var(--text);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-primary: var(--primary);
    --color-primary-fg: var(--primary-fg);
    --color-bg-dark: var(--bg-dark);
    --color-bg-light: var(--bg-light);
    --color-border: var(--border);
    --color-text-muted: var(--text-muted);
    --color-danger: var(--danger);
    --color-success: var(--success);

    --font-sans: var(--font-opensans), ui-sans-serif, system-ui;
    --font-roboto: var(--font-roboto);
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans);
}
